#fotography_team_categories_settings { display: none;}
#fotography_testimonial_categories_settings { display: none;}
#customize-control-fotography_blog_grid_archive_section { display: none;}
#fotography_gallery_single_page { display: none; }

/* Archive Page Layout Settings */
#input_fotography_archive_page_layout label{
    position: relative;
    margin: 0 3% 3% 0;
    display: inline-block;
    width: 46%;
}
#input_fotography_archive_page_layout input{
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#input_fotography_archive_page_layout img{
    display: block;
    border:2px solid #F6F6F6;
}

#input_fotography_archive_page_layout input:checked + img{
    border:2px solid #CCC;
}

/*User stick note*/
.user_sticky_note {
   padding: 0px 10px 15px;
   background: #EEE;
   border-bottom: 1px solid #EEE;
}

.sticky_info_row .button{
    width: 100%;
    margin: 2px 0;
    text-align: center;
}

#customize-control-theme_info_more_theme span,
#customize-control-theme_info_pro_theme span,
#customize-control-theme_info_useful_plugins span{
  width: 100%;
  display: block;
  text-align: center;
}
/*custom admin style css*/
.accesspress_store_draggable{
    padding:5px 0;  
}
.parallax-customize-control-title{
    border: 1px solid #dfdfdf;
    cursor: move !important;
    font-weight: bold;
    padding: 0 10px !important;
    height: 40px;
    line-height: 40px !important;
    background-color: #f1f1f1;
    background-image: -ms-linear-gradient(top, #f9f9f9, #ececec);
    background-image: -moz-linear-gradient(top, #f9f9f9, #ececec);
    background-image: -o-linear-gradient(top, #f9f9f9, #ececec);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f9f9f9), to(#ececec));
    background-image: -webkit-linear-gradient(top, #f9f9f9, #ececec);
    background-image: linear-gradient(top, #f9f9f9, #ececec);
    overflow: hidden;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -moz-box-shadow: inset 0 1px 0 #fff;
    -webkit-box-shadow: inset 0 1px 0 #fff;
    box-shadow: inset 0 1px 0 #fff;
    text-align: center;
    color: #696969;
}
.parallax-box-content-hidden{
    padding: 5px;
    border: 1px solid #dfdfdf;
    background:#fff;
    display:none;   
}

.customize-control-title{
    color:#696969;  
}
.accesspress_store_image_control input[type=text]{
    margin-bottom:10px; 
}
.customize-control input[type=text]{
    margin-bottom:15px; 
}
.accesspress_store_general_control_droppable textarea{
    width:98%;
    margin-bottom:15px; 
}

.upgrade-pro{
    background-color: #e24545;
    color: #FFF !important;
    font-size: 12px;
    padding: 5px;
    line-height: 1;
    display: block;
    margin-top: 6px;
    text-align: center;
}


.admin-pro-feature-list li{
 
    border-bottom: 1px solid #DBDBDB;
    margin: 0;
    padding: 10px 0px;
    line-height: 1;
}
.admin-pro-feature-list li:before{
     content: "\f345";
    font: 400 20px/1 dashicons;
    display: inline-block;
    font-size: 14px;
    margin-right: 5px;
 
 }
.admin-pro-feature-list span{
     display: inline-block;
    width: 90%;
    vertical-align: top;}
.admin-pro-feature-list{
    margin: 0 5px;
}
.buynow{
    margin-top: 10px;
    width: 100%;
    text-align: center;
}